<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOW ALL POLITICAL PARTIES</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:include="fragments/navigation">MENU</div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <ul class="list-unstyled">
                    <li class="media my-3 border border-primary" th:each="p : ${politicalParties}">
                        <img class="mr-3 rounded-circle" style="min-width: 150px; max-width: 200px;" th:src="@{/static/img/{name}(name=${p.photo})}" th:alt="${p.name}">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1 header" th:text="${p.name}"></h5>
                            <p>Set Year: <span th:text="${p.setYear}"></span></p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a role="button" class="btn btn-secondary btn-sm mr-2" th:href="@{/political-parties/modify/{id}(id=${p.id})}">EDIT</a>
                                </li>
                                <li class="list-inline-item">
                                    <a role="button" class="btn btn-secondary btn-sm mr-2" th:href="@{/political-parties/{id}(id=${p.id})}">DETAILS</a>
                                </li>
                                <li  class="list-inline-item">
                                    <form th:action="@{/political-parties/delete}" method="post" >
                                        <input type="text" name="id" th:value="${p.id}" hidden="hidden" readonly="readonly" />
                                        <button class="btn btn-danger btn-sm mr-2" type="submit">DELETE</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>