<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD CANDIDATES</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:include="fragments/navigation">MENU</div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>Add new candidate</h1>
                <form th:action="@{/candidates/add}" method="post" th:object="${candidate}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" th:field="*{name}"/>
                    </div>
                    <div th:if="${errors.containsKey('name')}">
                        <p class="text-danger" th:text="${errors.get('name')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input id="surname" type="text" class="form-control" th:field="*{surname}"/>
                    </div>
                    <div th:if="${errors.containsKey('surname')}">
                        <p class="text-danger" th:text="${errors.get('surname')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input id="birthday" type="date" class="form-control" th:field="*{birthday}"/>
                    </div>
                    <div th:if="${errors.containsKey('birthday')}">
                        <p class="text-danger" th:text="${errors.get('birthday')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="file">File</label>
                        <input id="file" type="file" class="form-control-file" th:field="*{file}"/>
                    </div>
                    <div class="form-group">
                        <label for="politicalParties">Political party</label>
                        <select id="politicalParties" th:field="*{politicalPartyDTO.id}">
                            <option th:each="p : ${politicalParties}" th:value="${p.id}" th:text="${p.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="constituencies">Constituency</label>
                        <select id="constituencies" th:field="*{constituencyDTO.id}">
                            <option th:each="c : ${constituencies}" th:value="${c.id}" th:text="${c.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Add</button>
                        <button class="btn btn-danger" type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>